<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>636891953467-ng6rofd1t6u162fsa2gbt94mnco9j6nc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.636891953467-ng6rofd1t6u162fsa2gbt94mnco9j6nc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>636891953467-05flrca08i60htgdptlp2b2dl1alg9g7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBglEz7pFsdCTed9M5WPcPqqyGrZfUJOfw</string>
	<key>GCM_SENDER_ID</key>
	<string>636891953467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.danielmontil.tacliaApp</string>
	<key>PROJECT_ID</key>
	<string>taclia-3be6b</string>
	<key>STORAGE_BUCKET</key>
	<string>taclia-3be6b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:636891953467:ios:698a26078df2cc92541f1e</string>
	<key>DATABASE_URL</key>
	<string>https://taclia-3be6b.firebaseio.com</string>
</dict>
</plist>